* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: Arial, sans-serif;
}

.map {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.map-container {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
}

.toggle-button {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
}

.split-view .map1 {
  width: 50%;
}
.split-view .map2 {
  width: 50%;
}
button {
  color: #646cff;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.map1 {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.map2 {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
