* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: Arial, sans-serif;
}

.map {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.map-container {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
}

.toggle-button {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
}

.split-view .mapAndButton {
  width: 50%;
}

.map1 {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.map2 {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.mapAndButton {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.mapsButtons {
  position: absolute;
  top: 70px;
  left: 10px;
  z-index: 100;
}
.hiddenDiv {
  display: none;
}